/* Young Serif – Regular */
@font-face {
  font-family: 'Young Serif';
  src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Outfit – Regular */
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Outfit – SemiBold */
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Outfit – Bold */
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 48px 0px;
    background-color: #F3E5D7;
    align-items: center;
    display: flex;
    justify-content: center;
}
.container{
    width: 736px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    border-radius: 24px;
    background-color: #ffffff;
}
.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img{
    width: 656px;
    height: 300px;
    border-radius: 12px;
}
.text-container{
    width: 656px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
}
.text-container .title{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.text-container .title h1{
    font-family: 'Young Serif', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #312E2C;
    margin: 0;
    padding: 0;
}
.text-container .title p{
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: #5F564D;
    margin: 0;
    padding: 0;
}
.text-container .prep{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding: 24px;
    border-radius: 12px;
    background-color: #FFF7FB;
}
.text-container .prep h4{
    font-family: 'Outfit';
    font-size: 20px;
    font-weight:600;
    line-height: 100%;
    letter-spacing: 0%;
    color: #7A284E;
    margin: 0;
    padding: 0;
}
.text-container .prep ul{
    padding-left: 24px;
    margin: 0px;
}
.text-container .prep ul li{
    margin-bottom: 8px;
    padding-left: 8px;
}
.text-container .prep ul li:nth-last-child(1){
    margin-bottom: 0px;
}
.text-container .prep p{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: #5F564D;
    margin: 0;
    padding: 0;
}
.text-container .ingredients{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    border-radius: 0;
    width: 100%;
}
.text-container .ingredients h1{
    font-family: 'Young Serif', serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #854632;
    margin: 0;
    padding: 0;
}
.text-container .ingredients ul{
    padding-left: 24px;
    margin: 0px;
}
.text-container .ingredients ul li{
    margin-bottom: 8px;
    padding-left: 16px;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: #5F564D;
}
.text-container .ingredients ul li:nth-last-child(1){
    margin-bottom: 0px;
}
hr{
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid #E3DDD7;
    border-radius: 0px;
}
.text-container .instructions{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    border-radius: 0;
}
.text-container .instructions h1{
    font-family: 'Young Serif', serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #854632;
    margin: 0;
    padding: 0;
}
.text-container .instructions ol{
    padding-left: 24px;
    margin: 0px;
}
.text-container .instructions ol li{
    margin-bottom: 8px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: #5F564D;
}
.text-container .instructions ol li::marker{
    font-weight: 700;
    font-family: 'Outfit';
    color: #854632;
}
.text-container .instructions ol li:nth-last-child(1){
    margin-bottom: 0px;
}
.text-container .nutrition{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    border-radius: 0;
    width: 100%;
}
.text-container .nutrition h1{
    font-family: 'Young Serif', serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: #854632;
    margin: 0;
    padding: 0;
}
.text-container .nutrition p{
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: #5F564D;
    margin: 0;
    padding: 0;
}
.text-container .nutrition .table{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}
.text-container .nutrition .tr{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 32px 12px 32px;
    border-bottom: 1px solid #E3DDD7;
}
.text-container .nutrition .tr:nth-last-child(1){
    padding-bottom: 0;
    border-bottom: 0;
}
.text-container .nutrition .tr .th{
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: #5F564D;
    width: 50%;
}
.text-container .nutrition .tr .td{
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    color: #854632;
    width: 50%;
}
@media screen and (max-width:615px){
    body{
        padding: 0;
        margin: 0;
    }
    .container{
        border-radius: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        gap: 0;
    }
    .image-container img{
        width: 100%;
        height: auto;
    }
    .text-container{
        width: 100%;
        padding: 40px 32px;
        gap: 32px;
    }
}
@media screen and (min-width : 616px) and (max-width:820px ){
    .container{
        width: 616px;
    }
    .image-container img{
        width: 536px;
    }
    .text-container{
        width: 536px;
    }
}
