* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #19A1AE;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.bg-top {
    position: absolute;
    background-image: url("./images/bg-pattern-top.svg");
    background-size: cover;
    width: calc(100vh);
    height: 100vh;
    top: calc(-45vh);
    left: calc(-30vh);
}

.bg-bot {
    position: absolute;
    background-image: url("./images/bg-pattern-bottom.svg");
    background-size: cover;
    width: calc(100vh);
    height: 100vh;
    bottom: calc(-45vh);
    right: calc(-30vh);
}

.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    background-color: #FFFFFF;
    z-index: 2;
    border-radius:15px;
}

.header {
    position: relative;
    padding-top: 96px;
    border-bottom: 1px solid #E8E9EC;
}

.bg-profile {
    background-image: url("./images/bg-pattern-card.svg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 144px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    z-index: 3;
}
.details{
    padding-bottom: 24px;
}
.detail{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 16px;
}
.detail h1{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0px;
    color: #2E3349;
}
.detail p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0px;
    color: #6B7082;
}
.country{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}
.country p{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0px;
    color: #6B7082;
}
.container .body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 24px;
    gap: 56px;
    padding-bottom: 24px;
}
.container .body .content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.container .body .content h1{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0px;
    color: #2E3349;
}
.container .body .content p{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1.5px;
    color: #6B7082;
}

@media screen and (max-width:450px) {
    .container{
        width: 320px;
    }
}