* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    width: 920px;
    height: 500px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 48px;
    gap: 40px;
}

.content.sedan {
    background-color: #E28625;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.content.suv {
    background-color: #006971;
}

.content.luxury {
    background-color: #004140;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.content .text-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.content .text-container .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content img {
    height: 40px;
}

.content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    color: #F2F2F2;
    padding: 0;
    margin: 0;
}

.content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 165%;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.75;
    padding: 0;
    margin: 0;
}

.content button {
    outline: 0;
    padding: 8px 32px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    background-color: #F2F2F2;
    font-size: 15px;
    font-weight: 400;
    line-height: 165%;
    letter-spacing: 0px;
    width: 147px;
}

.content button:hover {
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

.content.sedan button {
    color: #E28625;
}

.content.sedan button:hover {
    background-color: #E28625;
    color: #FFFFFF;
}

.content.suv button {
    color: #006971;
}

.content.suv button:hover {
    background-color: #006971;
    color: #FFFFFF;
}

.content.luxury button {
    color: #004140;
}

.content.luxury button:hover {
    background-color: #004140;
    color: #FFFFFF;
}

@media screen and (min-width:620px) and (max-width:960px) {
    body {
        height: 1350px;
    }

    .container {
        flex-direction: column;
        width: 608px;
        height: auto;
    }

    .content {
        padding: 48px 80px;
        gap: 32px;
    }

    .content.sedan {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 8px;
    }

    .content.luxury {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0px;
    }

    .content .text-container {
        gap: 24px;
    }

}

@media screen and (max-width:619px) {
    body {
        height: 1500px;
    }

    .container {
        width: 327px;
        flex-direction: column;
        height: auto;
    }

    .content {
        padding: 48px;
        gap: 32px;
    }

    .content.sedan {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 8px;
    }

    .content.luxury {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0px;
    }

    .content .text-container {
        gap: 24px;
    }
}