* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    background-color: #F2EAE2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1,
p {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 456px;
}

.image-container {
    display: flex;
    width: 50%;
    height: 100%;
    background-image: url("./images/image-product-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 32px;
    gap: 32px;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 8px;
}

.title {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;
}

.perfume {
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 5px;
    color: #6C7289;
    text-transform: uppercase;
}

.brand {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    color: #1C232B;
}

.description {
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0px;
    color: #6C7289;
}

.price {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;

}

.price h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    color: #3D8168;
}

.price p {
    font-size: 13px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0px;
    color: #6C7289;
    text-decoration: line-through;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px 32px;
    background-color: #3D8168;
    border-radius: 8px;
    border: 0px solid #979797;
}

.btn i {
    width: 18px;
    height: 18px;
    color: #FFFFFF;
}

.btn p {
    font-size: 14px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.btn:hover{
    background-color: #1A4032;
    cursor: pointer;
    transition: 0.2 ease;
}

@media screen and (max-width:620px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 750px;
    }

    .image-container {
        width: 100%;
        height: 342px;
        background-image: url("./images/image-product-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .text-container {
        width: 100%;
        height: 408px;
        gap: 24px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}