body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F4D04E;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.card{
    width: 384px;
    height: 522px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 24px;
    margin: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 20px;
    border-width: 1px;
    border-color: #111111;
    overflow: hidden;
    box-shadow: 8px 8px 0 0 rgba(0,0,0);
}
.blog-image{
    height: 200px;
    width: 100%;
}
.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.author{
    display: flex;
    align-items: center;
}
.author img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 16px;
}
.author-name{
    font-size: 14px;
    line-height: 150%;
    color: #111111;
    font-weight: 800;

}
.content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.content p{
    margin: 0;
}
.content .btn{
    padding: 4px 12px;
    background-color: #F4D04E;
    border-radius: 4px;
    width: fit-content;
}
.content .btn-text{
    font-size: 14px;
    line-height: 150%;
    font-weight: 800;
    color: #111111;
}
.content .publish{
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    color: #111111;
}
.content .foundations{
    font-size: 24px;
    line-height: 150%;
    font-weight: 800;
    color: #111111;
    text-decoration: none;
}
.content .foundations:hover{
    color: #F4D04E;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}
.content .desc{
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: #6B6B6B;
    letter-spacing: 1px;
}

@media screen and (max-width: 400px) {
    .card {
        width: 327px;
        max-width: 80%;
        height: 501px;
        padding: 16px;
    }
}