* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    background-color: #0A0C1C;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1,
p {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 1128px;
    height: 442px;
}

.image-container {
    display: flex;
    position: relative;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 50%;
    background-image: url("./images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container .overlay {
    opacity: 0.35;
    background-color: #AB5CDB;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 64px 80px;
    gap: 72px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #1B1937;
}

.texts {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 24px;
}

.texts h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.texts span {
    color: #AB5CDB;
}

.texts p {
    font-size: 15px;
    font-weight: 400;
    line-height: 165%;
    letter-spacing: 0.5px;
    opacity: 0.75;
    color: #FFFFFF;
}

.stats {
    display: flex;
    flex-direction: row;
    max-width: 360px;
    gap: 64px;
}

.stats h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.stats p {
    font-size: 12px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.75;
}

@media screen and (max-width:1149px) and (min-width:600px) {
    .container {
        flex-direction: column;
        width: 564px;
        height: 884px;
    }

    .image-container {
        width: 100%;
        height: 442px;
        order: 1;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 8px;
        background-image: url("./images/image-header-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text-container {
        order: 2;
        width: 100%;
        height: 442px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 0px;
    }
}

@media screen and (max-width:599px) {
    .container {
        flex-direction: column;
        width: 327px;
        height: 780px;
    }

    .image-container {
        width: 100%;
        height: 240px;
        order: 1;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 8px;
        background-image: url("./images/image-header-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text-container {
        order: 2;
        width: 100%;
        height: 540px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 0px;
        padding: 24px 32px;
        gap: 40px;
    }
    .texts{
        gap: 8px;
        align-items: center;
        text-align: center;
    }
    .stats{
        flex-direction: column;
        gap: 32px;
    }
    .stat{
        text-align: center;
    }
}