* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    background-color: #0D192C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1,
p {
    padding: 0;
    margin: 0;
}
.divider{
    display: flex;
    height: 0px;
    width: 100%;
    border: 1px solid #2E405A;
}
.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 596px;
    padding: 24px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: #15263F;
    gap: 24px;
}
.image-container {
    position: relative;
    display: flex;
    width: 302px;
    height: 302px;
    background-image: url("./images/image-equilibrium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.text-container{
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 222px;
    gap: 24px;
}
.title{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}
.title > p {
    margin-top: -8px;
    color: #8BACD9;
    font-size: 18px;
    font-weight:300;
    line-height: 145%;
    letter-spacing: 0px;
}
.title > h1{
    color: #FFFFFF;
    font-size: 22px;
    font-weight:600;
    line-height: 125%;
    letter-spacing: 0px;
}
.title > h1:hover{
    color: #00FFF8;
    cursor: pointer;
    transition: 0.2 ease;
}
.details{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.eth{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: start;
    gap: 8px;
}
.eth img{
    width: 11px;
    height: 18px;
    color: #00FFF8;
}
.eth p{
    color: #00FFF8;
    font-size: 16px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 0px;
}
.time{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items:center;
    justify-content: end;
    gap: 8px;
}
.time img{
    width: 16px;
    height: 16px;
    color: #8BACD9;
}
.time p{
    color: #8BACD9;
    font-size: 14px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 0px;
}
.creator{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    align-items: center;
    justify-content: start;
}
.creator img{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}
.creator p{
    color: #8BACD9;
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 0px;
}
.creator span{
    margin-left: 8px;
    color: #FFFFFF;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    border-radius: 8px;
}
.overlay img{
    width: 48px;
    height: 48px;
    visibility: hidden;
}
.overlay:hover{
    background-color: #00fff87f;
    cursor: pointer;
    transform: 0.2 ease;
}
.overlay:hover img{
    visibility: visible;
    transform: 0.2 ease;
}